
<div class="users-content">
    <div class="card">

        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <button pButton pRipple label="Nouveau" *ngIf="findRole(['ROLE_SUPERADMIN','ROLE_DER','ROLE_DRP'])" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
                    <button pButton pRipple label="Management Role" *ngIf="findRole(['ROLE_SUPERADMIN'])" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNewRole()"></button>
                    <button pButton pRipple label="Management Fonction" *ngIf="findRole(['ROLE_SUPERADMIN'])"  icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNewF()"></button>
                </div>
            </ng-template>

            <ng-template pTemplate="right">

                <button pButton pRipple label="Export PDF" icon="pi pi-upload" class="p-button-primary mr-2 " (click)="dt.exportCSV()"></button>
                <button pButton pRipple label="Export Excel " icon="pi pi-upload" class="p-button-success" (click)="dt.exportCSV()"></button>

            </ng-template>
        </p-toolbar>
        <div *ngIf="!attente" class="grid justify-content-center p-2 lg:p-0">
            <h5 class="spinner">Veuillez Patienter...</h5>
            <p-progressSpinner class="spinner"></p-progressSpinner>
        </div>
        <p-table #dt [value]="user" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nom','prenom','email','matricule','telephone']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage des {first} aux {last}èmes des  {totalRecords} entrées" [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0" *ngIf="this.utilisateur">{{this.utilisateur.dg_structure.libelle}}  </h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
                        </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                    <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
                    <th pSortableColumn="role">Role <p-sortIcon field="role"></p-sortIcon></th>
                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="telephone">Telephone <p-sortIcon field="telephone"></p-sortIcon></th>
                    <th pSortableColumn="matricule">Matricule <p-sortIcon field="matricule"></p-sortIcon></th>
                    <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
                    <th pSortableColumn="fonction">Fonction <p-sortIcon field="fonction"></p-sortIcon></th>
                                    <th pSortableColumn="enable">Etat User <p-sortIcon field="enable"></p-sortIcon></th>
                    <th></th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td></td>
                    <td style="min-width:10rem;"><span class="p-column-title">Nom</span>
                        {{user.nom}}
                    </td>
                    <td style="min-width:10rem;">
                        <span class="p-column-title">Prenom</span>
                        {{user.prenom}}
                    </td>
                    <td style="min-width:10rem;">
                        <span class="p-column-title">Role</span>
                        <span *ngFor="let ro of user.roles">
                                        {{ro.authority}}, &nbsp;

                                </span>
                    </td>
                    <td style="min-width:10rem;">
                        <span class="p-column-title">Email</span>
                        {{user.email}}
                    </td>
                    <td style="min-width:10rem;">
                        <span class="p-column-title">Telephone</span>
                        {{user.telephone}}
                    </td>
                    <td style="min-width:10rem;">
                        <span class="p-column-title">Matricule</span>
                        {{user.matricule}}
                    </td>
                    <td style="min-width:10rem;">
                        <span class="p-column-title">Reference</span>
                        {{user.reference}}
                    </td>
                    <td style="min-width:10rem;">
                        <span class="p-column-title">Fonction</span>
                        <div *ngIf="user.dg_fonction">
                            {{user.dg_fonction.libelle}}
                        </div>
                        <div *ngIf="!user.dg_fonction">
                        </div>
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple  *ngIf="findRole(['ROLE_SUPERADMIN','ROLE_DER','ROLE_DRP'])"  icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="editUser(user)"></button>
                        </div>
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple *ngIf="findRole(['ROLE_SUPERADMIN','ROLE_DER','ROLE_DRP'])" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary mr-2 mb-2" (click)="editStru(user)" pTooltip="Modifier Structures et Fonctions"></button>
                        </div>
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple type="button" icon="pi pi-history" class="p-button-rounded p-button-warning mr-2 mb-2" (click)="Historique(user)" pTooltip="Historique"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-dialog [(visible)]="productDialog" [style]="{width: '700px'}" header="Utilisateurs"
                  [modal]="true" class="p-fluid">
            <h6 align="right"><span style="color: red"> *</span> Champs Obligatoires</h6>
            <ng-template pTemplate="content">
                <br>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="nom">Nom <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="nom" [(ngModel)]="utilisateur.nom" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.nom}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.nom">Le nom est obligatoire.</small>
                    </div>
                    <div class="field col">
                        <label for="prenom">Prenom <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="prenom" [(ngModel)]="utilisateur.prenom" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.prenom}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.prenom">Le prenom est obligatoire.</small>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="email">Email <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="utilisateur.email" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.email}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.email">L'email est obligatoire.</small>
                    </div>
                    <div class="field col">
                        <label for="telephone">Téléphone</label>
                        <input type="text" pInputText id="telephone" pattern="[0-9]{9}" [(ngModel)]="utilisateur.telephone"/>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="matricule">Matricule <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="matricule" pattern="[0-9]{6}.[A-Z]{0}" [(ngModel)]="utilisateur.matricule" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.matricule}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.matricule">Matricule doit etre du format 123456A.</small>
                    </div>
                    <div class="field col">
                        <label for="reference">Reference</label>
                        <input type="text" pInputText id="reference" [(ngModel)]="utilisateur.reference"  maxlength="6" max="6">
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="directions">Structures <span style="color: red"> *</span></label>
                        <br>
                        <p-autoComplete placeholder="Search" id="directions" [dropdown]="true" [multiple]="false" [suggestions]="filtereddirections" (completeMethod)="filterDirectionsbis($event)" field="libelle" [(ngModel)]="utilisateur.dg_structure" [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.dg_structure}"></p-autoComplete>
                        <small *ngIf="submitted && !utilisateur.dg_structure" class="p-error">Selectionnez une structure.</small>
                    </div>
                    <div class="field col">
                        <label for="fonctions">Fonctions</label>
                        <p-autoComplete placeholder="Search" id="fonctions" [dropdown]="true" [multiple]="false" [suggestions]="filteredfonctions" (completeMethod)="filterFonctions($event)" field="libelle" [(ngModel)]="utilisateur.dg_fonction"></p-autoComplete>
                    </div>
                </div>
                <h5>Etat compte</h5>
                <p-toggleButton onLabel="Actif" offLabel="Inactif" [style]="{width:'10em'}" [(ngModel)]="utilisateur.enable"></p-toggleButton>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="productDialog2" [style]="{width: '700px'}" header="Utilisateurs"
                  [modal]="true" class="p-fluid">
            <h6 align="right"><span style="color: red"> *</span> Champs Obligatoires</h6>
            <ng-template pTemplate="content">
                <br>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="nom">Nom <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="nom2" [(ngModel)]="utilisateur.nom" required
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.nom}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.nom">Le nom
                            est obligatoire.</small>
                    </div>
                    <div class="field col">
                        <label for="prenom">Prenom <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="prenom2" [(ngModel)]="utilisateur.prenom"
                               required
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.prenom}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.prenom">Le
                            prenom est obligatoire.</small>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="email">Email <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="email2" [(ngModel)]="utilisateur.email"
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.email}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.email">L'email
                            est obligatoire.</small>

                    </div>
                    <div class="field col">
                        <label for="telephone">Téléphone</label>
                        <input type="text" pInputText id="telephone2" pattern="[0-9]{9}"
                               [(ngModel)]="utilisateur.telephone" required
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.telephone}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.telephone">Telephone
                            est obligatoire.</small>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="matricule">Matricule <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="matricule2" pattern="[0-9]{6}.[A-Z]{0}"
                               [(ngModel)]="utilisateur.matricule" required
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.matricule}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.matricule">Matricule
                            doit etre du format 123456A.</small>
                    </div>
                    <div class="field col">
                        <label for="reference">Reference</label>
                        <input type="text" pInputText id="reference2"
                               [(ngModel)]="utilisateur.reference" required
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.reference}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.reference">Reference
                            est obligatoire.</small>
                    </div>
                </div>
                <h5>Etat compte</h5>
                <p-toggleButton [(ngModel)]="utilisateur.enable"  onLabel="Actif" offLabel="Inactif" [style]="{width:'10em'}"></p-toggleButton>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                <button pButton pRipple label="Save"
                        [disabled]="!utilisateur.nom || !utilisateur.prenom || !utilisateur.email  || !utilisateur.matricule  "
                        icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="structDialog" [style]="{width: '700px'}" header="Utilisateurs" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="directions">Structures</label>
                        <br>
                        <p-autoComplete placeholder="Search" id="directions" [dropdown]="true"
                                        [multiple]="false" [suggestions]="filtereddirections"
                                        (completeMethod)="filterDirections($event)" field="libelle"
                                        [(ngModel)]="utilisateur.dg_structure"></p-autoComplete>
                    </div>
                    <div class="field col">
                        <label for="fonctions">Fonctions</label>
                        <p-autoComplete placeholder="Search" id="fonctions" [dropdown]="true"
                                        [multiple]="false" [suggestions]="filteredfonctions"
                                        (completeMethod)="filterFonctions($event)" field="libelle"
                                        [(ngModel)]="utilisateur.dg_fonction"></p-autoComplete>
                    </div>
                </div>
                <div class="field col">
                    <br> <br>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                <button pButton pRipple label="Save"
                        [disabled]="!utilisateur.nom || !utilisateur.prenom || !utilisateur.email || !utilisateur.telephone || !utilisateur.matricule || !utilisateur.reference"
                        icon="pi pi-check" class="p-button-text" (click)="saveUserprime()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="productDialog3" [style]="{width: '900px'}" header="Historique {{nom}}" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <p-table #dt [value]="historique" rowGroupMode="subheader" groupRowsBy="representative.name" sortField="representative.name" sortMode="single" responsiveLayout="scroll" [scrollable]="true" scrollHeight="400px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Date Affectation</th>
                            <th>Fonctions</th>
                            <th>Structures</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-histor>
                        <tr>
                            <td style="min-width:10rem;">
                                <span *ngIf="histor.dateTransfert">
                                    {{histor.dateTransfert | date:' dd/MM/yyyy, à HH:mm'}}
                                </span>
                            </td>
                            <td style="min-width: 200px;">
                                 <span *ngIf="histor.dg_fonction_arrivee">{{histor.dg_fonction_arrivee.libelle}}</span>
                            </td>
                            <td style="min-width: 200px;">
                                <span *ngIf="histor.dg_structureArr">{{histor.dg_structureArr.libelle}}</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog header="Liste des Utilisateurs" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body" [(visible)]="dialogVisible" [style]="{width: '95vw'}" [contentStyle]="{height: '500px'}">
            <p-table #dtt [value]="utilisateurs" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nom','prenom','email','matricule','telephone']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage des {first} aux {last}èmes des  {totalRecords} entrées"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{titre2}}</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" (input)="dtt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                                            </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
                        <th pSortableColumn="role">Role <p-sortIcon field="role"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="telephone">Telephone <p-sortIcon field="telephone"></p-sortIcon></th>
                        <th pSortableColumn="matricule">Matricule <p-sortIcon field="matricule"></p-sortIcon></th>
                        <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
                        <th pSortableColumn="fonction">Fonction <p-sortIcon field="fonction"></p-sortIcon></th>
                                    <th pSortableColumn="enable">Etat User <p-sortIcon field="enable"></p-sortIcon></th>
                        <th></th>
                        <th>Actions</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td></td>
                        <td style="min-width:10rem;"><span class="p-column-title">Nom</span>
                            {{user.nom}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Prenom</span>
                            {{user.prenom}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Role</span>
                            <span *ngFor="let ro of user.roles">
                                        {{ro.authority}}, &nbsp;

                                </span>
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Email</span>
                            {{user.email}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Telephone</span>
                            {{user.telephone}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Matricule</span>
                            {{user.matricule}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Reference</span>
                            {{user.reference}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Fonction</span>
                            <div *ngIf="user.dg_fonction">
                                {{user.dg_fonction.libelle}}
                            </div>
                            <div *ngIf="!user.dg_fonction">
                            </div>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple *ngIf="findRole(['ROLE_SUPERADMIN','ROLE_DER','ROLE_DRP'])" icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="editUser(user)"></button>
                            </div>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple *ngIf="findRole(['ROLE_SUPERADMIN','ROLE_DER','ROLE_DRP'])" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary mr-2 mb-2" (click)="editStru(user)" pTooltip="Modifier Structures et Fonctions"></button>
                            </div>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple type="button" icon="pi pi-history" class="p-button-rounded p-button-warning mr-2 mb-2" (click)="Historique(user)" pTooltip="Historique"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" type="button" label="Fermer" class="p-button-danger p-button-text" (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="RolesDialog" header="Roles" [modal]="true" [style]="{width:'700px'}" class="p-fluid">
            <ng-template pTemplate="content">
                <br>
                <ng class="p-formgrid grid">
                    <div class="field col">
                        <label for="authority">Libelle</label>
                        <input type="text" pInputText id="authority"  [(ngModel)]="rol.authority"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !rol.authority">Le libelle est obligatoire.</small>
                    </div>
                    <div class="field col">
                        <label for="description">Description</label>
                        <input type="text" pInputText id="description" [(ngModel)]="rol.description" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !rol.description}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !rol.description">La description est obligatoire.</small>
                    </div>
                </ng>
                <div class="grid grid-nogutter justify-content-start">
                    <button pButton pRipple label="Nouveau" iconPos="right" [disabled]="!rol.authority || !rol.description" (click)="saveRole()" ></button>

                </div>
                <br><br>
                <p-table [value]="roles" dataKey="id" editMode="row" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <h5>Liste des roles disponible</h5>
                    </ng-template>
                    <ng-template pTemplate="body" let-rol let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="rol">
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="rol.authority">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        Role: <b>{{rol.authority}}</b>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="rol.description" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        Description: <b>{{rol.description}}</b>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td style="text-align:center">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="UpdateRole(rol)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="UpdateRoleSave(rol)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="Cancel(rol)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>

            <ng-template pTemplate="footer">

            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="FonctionDialog" header="Fonctions" [modal]="true" [style]="{width:'700px'}" class="p-fluid">
            <ng-template pTemplate="content">
                <br>
                <ng class="p-formgrid grid">
                    <div class="field col">
                        <label for="libelle">Libelle</label>
                        <input type="text" pInputText id="libelle"  [(ngModel)]="fonctions.libelle"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !fonctions.libelle">Le libelle est obligatoire.</small>
                    </div>
                </ng>
                <div class="grid grid-nogutter justify-content-start">
                    <button pButton pRipple label="Nouveau" iconPos="right" [disabled]="!fonctions.libelle" (click)="saveFonction()" ></button>

                </div>
                <br><br>
                <p-table [value]="fonction" dataKey="id" editMode="row" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <h5>Liste des fonctions disponible</h5>
                    </ng-template>
                    <ng-template pTemplate="body" let-fonctions let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="fonctions">
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="fonctions.libelle">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        Fonction: <b>{{fonctions.libelle}}</b>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td style="text-align:center">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="UpdateFonction(fonctions)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="UpdateFonctionSave(fonctions)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="CancelF(fonctions)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>

            <ng-template pTemplate="footer">

            </ng-template>
        </p-dialog>
        <br><br>
        <div class="col-12 md:col-6" *ngIf="findRole(['ROLE_SUPERADMIN','ROLE_DER', 'ROLE_DRP', 'ROLE_RECEVEUR'])">
            <div class="p-fluid">
                <h5>Liste structures annexes</h5>
                <div class="field">
                    <p-listbox [options]="annexes" [(ngModel)]="annexe" optionLabel="annexe.libelle" [style]="{'width':'15rem'}" (click)="showDialog(annexe)"></p-listbox>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
