<div class="grid">

    <div class="col-12">

        <div class="card">
            <p-table #dt [value]="listcaissesannexe" responsiveLayout="scroll" [rows]="10"
                     [globalFilterFields]="['libelle','dg_typeCaisse.libelle','dg_structure.libelle','dg_user.nom + dg_user.prenom ']"
                     [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Affichage des {first} aux {last}èmes des  {totalRecords} entrées"
                     selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h3 class="m-0">Liste des Caisses {{structannexe.annexe.libelle}} </h3>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                           (input)="dt.filterGlobal($event.target.value, 'contains')"
                                           placeholder="Rechercher..." />
                                </span>

                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="libelle">Libelle <p-sortIcon field="libelle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dg_typeCaisse.libelle">Type Caisse <p-sortIcon
                            field="dg_typeCaisse.libelle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dg_structure.libelle">Structure <p-sortIcon
                            field="dg_structure.libelle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dg_user.nom + dg_user.prenom">Nom et Prenom Utilisateur <p-sortIcon
                            field="dg_user.nom + dg_user.prenom"></p-sortIcon>
                        </th>


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-caiss>
                    <tr>

                        <td style="min-width:10rem;"><span class="p-column-title">Libelle</span>
                            {{caiss.libelle}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">TypeCaisse</span>
                            {{caiss.dg_typeCaisse.libelle}}
                        </td>
                        <td style="min-width:8rem;">
                            <span class="p-column-title">Structure</span>
                            {{caiss.dg_structure.libelle}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Utilisateur</span>
                            <span *ngIf="caiss.dg_user != undefined">
                                        {{caiss.dg_user.nom}} &nbsp; {{caiss.dg_user.prenom}}
                                    </span>

                            <span *ngIf="caiss.dg_user ==undefined">
                                        <p-tag styleClass="mr-12" severity="warning" value=" Non Attribuée">
                                        </p-tag>
                                    </span>
                        </td>

                        <td>
                            <div class="flex">

                                        <span *ngIf="caiss.dg_user ==undefined && caiss.dg_typeCaisse.id==5 && findRole(['ROLE_SUPERADMIN','ROLE_RECEVEUR'])==true " >
                                            <button pButton pRipple icon="pi pi-pencil" label="Attribution"
                                                    class="p-button-secondary mr-2 mb-2"
                                                    (click)="editCaisse(caiss)"></button>
                                        </span>

                                <button pButton pRipple icon="pi pi-zoom" label="Details"
                                        class="p-button-primary mr-2 mb-2" (click)="details(caiss)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog [(visible)]="caisseDialog" [style]="{width: '450px', height: '30rem'}"
                      header="Attribution Caisse" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">

                    <div class="field">
                        <p-autoComplete placeholder="Choisir un utilisateur" [(ngModel)]="userSelected" id="dd"
                                        [dropdown]="true" [multiple]="false" [suggestions]="listUser" field="libelle"
                                        (completeMethod)="filterUser($event)"></p-autoComplete>

                    </div>




                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple type="button" label="Annuler" icon="pi pi-times"  class="p-button-danger" (click)="hideDialog()"></button>
                    <button pButton pRipple type="button" label="Attribuer" icon="pi pi-check"  class="p-button-success" (click)="saveCaisse()"></button>

                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="caisseDialog" [style]="{width: '450px', height: '30rem'}"
                      header="Attribution Caisse" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">

                    <div class="field">
                        <p-autoComplete placeholder="Choisir un utilisateur" [(ngModel)]="userSelected" id="dd"
                                        [dropdown]="true" [multiple]="false" [suggestions]="listUser" field="libelle"
                                        (completeMethod)="filterUser($event)"></p-autoComplete>

                    </div>




                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple type="button" label="Annuler" icon="pi pi-times"  class="p-button-danger" (click)="hideDialog()"></button>
                    <button pButton pRipple type="button" label="Attribuer" icon="pi pi-check"  class="p-button-success" (click)="saveCaisse()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog  [(visible)]="detailsDialog" [style]="{width: '700px', height: '50rem'}"
                      header="Information de Base" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">



                    <br>

                    <span> Libelle Caisse : </span> <span> <b> &nbsp; {{caisse.libelle}}</b> </span>
                    <br> <br>

                    <span> Numeraire : </span> <span> <b> &nbsp; {{caisse.numeraire}}</b> </span>
                    <br> <br>

                    <span> cheque : </span> <span> <b> &nbsp; {{caisse.cheque}}</b> </span>
                    <br> <br>

                    <h3 style="text-align:center"> Historique Caisse</h3>
                    <br> <br>
                    <p-table [value]="caisseListHistoriqueCaisse" selectionMode="single" [paginator]="true"
                             [rows]="5" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="dateattribution">Date Attribution<p-sortIcon
                                    field="dateAttribution"></p-sortIcon>
                                </th>
                                <th pSortableColumn="datecloture">Date Cloture <p-sortIcon field="datecloture">
                                </p-sortIcon>
                                </th>
                                <th pSortableColumn="dg_user.nom">Nom Utilisateur <p-sortIcon
                                    field="dg_user.nom"></p-sortIcon>
                                </th>
                                <th pSortableColumn="dg_user.prenom"> Prenom Email <p-sortIcon
                                    field="dg_user.prenom"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-histo>
                            <tr>
                                <td style="min-width: 10rem;">
                                            <span *ngIf="histo.dateattribution !=undefined">
                                                {{histo.dateattribution | date:'dd-MM-yyyy'}}
                                            </span>
                                </td>

                                <td style="min-width: 10rem;">
                                            <span *ngIf="histo.datecloture !=undefined">
                                                {{histo.datecloture | date:'dd-MM-yyyy' }}

                                            </span>
                                </td>
                                <td style="min-width: 10rem;">{{histo.dg_user.nom}}</td>
                                <td style="min-width: 10rem;">{{histo.dg_user.prenom}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <br> <br>

                    <div style="text-align: center" *ngIf="hasCaisse==true">

                        <button pButton pRipple icon="pi pi-zoom" label="Cloturer la Caisse"
                                class="p-button-primary mr-2 mb-2" (click)="cloturerCaisse()"></button>
                    </div>






                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple type="button" label="Annuler" icon="pi pi-times"  class="p-button-danger" (click)="hideDialog()"></button>
                </ng-template>
            </p-dialog>



        </div>
    </div>
</div>
